
{{> head }}
{{> navbar }}    

 <div class="row">

     <div class="col-8">
         <h1> Marca del sacrificio </h1>
         <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste qui, a earum voluptate nobis sit ad error dignissimos, perspiciatis recusandae modi, ullam beatae tempore? Quis laborum eos nesciunt cupiditate quod!
         </p>
     </div>

     <div class="col-4">
         <img src="assets/img/marca.png" class="img-thumbnail">
     </div>

</div>






{{> footer }}